PORT=3001
ALLOWED_ORIGIN=your-domain

# SMTP – e.g. Gmail: smtp.gmail.com / Port 587
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your@gmail.com
SMTP_PASS=yourpassword

# Where the email is sent to
RECIPIENT_EMAIL=your-email
